# Node.js dependencies
**/node_modules

# Python virtual environment
ai-services/venv/

# Python cache
**/__pycache__/

# Environment variables
**/.env

# VS Code editor-specific files
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Model files and executables
*.pth
*.exe